body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Container {
  background: rgb(255, 255, 255);
  padding: 20px 25px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 8px 18px rgb(150, 9, 9);
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

textarea {
  width: 94%;
  height: 120px;
  resize: none;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid black;
  outline: none;
  font-size: 14px;
}

textarea :focus {
  border-color: brown;
}

.Counter {
  text-align: center;
  margin-top: 6px;
  font-size: 16;
  color: grey;
}

.limit {
  color: brown;
  font-weight: bold;
}

header {
  margin: 0;
  box-sizing: border-box;
  background-color: #1f2937;
  padding: 15px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 22px;
}

nav ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  display: flex;
  gap: 20px;
}

li{
        list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav ul li a{
        list-style: none;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 8px 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}